* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#o,
#e {
  color: #db4437;
}

#o2 {
  color: #f4b400;
}

#g {
  color: #4285f4;
}

#l {
  color: #0f9d58;
}

header {
  height: 8vh;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width: 540px) {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 22px;
    img {
      width: 16px;
      &:hover {
        background-color: RGBA(60, 64, 67, 10%);
      }
    }
    a {
      text-decoration: none;
      color: #000000;
      font-size: 0.82rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .avatar {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 37vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 540px) {
    height: 45vh;
  }
}

.title {
  display: flex;
  justify-content: center;
  p {
    font-size: 5.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: -3px;
    @media screen and (max-width: 795px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 540px) {
      font-size: 4rem;
    }
  }
}

.search {
  border: 1px solid #e1e1d0;
  border-radius: 25px;
  padding: 9px;
  display: flex;
  max-height: 46px;
  width: 560px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 795px) {
    width: 70%;
  }
  @media screen and (max-width: 375px) {
    width: 265px;
  }
  img:first-child {
    width: 14px;
    margin: 0 8px;
  }

  img {
    width: 18px;
    margin: 0 8px;
  }

  input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}

.favorites {
  height: 45vh;
  display: grid;
  grid-template-columns: 112px 112px 112px 112px 112px;
  grid-template-rows: 112px 112px;
  justify-content: center;
  @media screen and (max-width: 795px) {
    grid-template-columns: 112px 112px 112px 112px;
  }
  @media screen and (max-width: 540px) {
    grid-template-columns: 112px 112px 112px;
  }
  .favorite {
    display: grid;
    justify-content: center;
    &:hover {
      background-color: #e8e1e1;
      border-radius: 4px;
    }
    a {
      display: grid;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      img {
        width: 48px;
        margin: 0 auto;
      }
      p {
        text-align: center;
        font-size: 0.82rem;
        color: #000000;
      }
    }
    @media screen and (max-width: 795px) {
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(10) {
        display: none;
      }
    }
    @media screen and (max-width: 540px) {
      &:nth-child(4) {
        display: none;
      }
      &:nth-child(8) {
        display: none;
      }
    }
  }
}

footer {
  height: 10vh;
  background-color: #f2f2f2;
  font-size: 0.92rem;
  .copyright {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: #70757a;
    p {
      a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        img {
          height: 12px;
        }
      }
    }
  }
}
