* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#o,
#e {
  color: #db4437;
}

#o2 {
  color: #f4b400;
}

#g {
  color: #4285f4;
}

#l {
  color: #0f9d58;
}

header {
  height: 8vh;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  nav {
    display: flex;
    align-items: center;
    gap: 22px;
    img {
      width: 16px;
      &:hover {
        background-color: RGBA(60, 64, 67, 10%);
      }
    }
    a {
      text-decoration: none;
      color: #000000;
      font-size: 0.82rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .btn-login {
      background-color: #1a73e8;
      opacity: 100%;
      color: white;
      font-size: 0.9rem;
      padding: 9px 24px;
      border-radius: 4px;
      &:hover {
        text-decoration: none;
      }
      &:hover {
        box-shadow: 0 0 3px RGBA(26, 115, 232, 1);
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 79.5vh;
  justify-content: center;
  align-items: center;
  gap: 32px;
  @media screen and (max-width: 795px) {
    height: 73.3vh;
  }
}

.title {
  display: flex;
  justify-content: center;
  p {
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: -3px;
    @media screen and (max-width: 795px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 540px) {
      font-size: 4.5rem;
    }
  }
}

.search {
  border: 1px solid #e1e1d0;
  border-radius: 25px;
  padding: 9px;
  display: flex;
  max-height: 46px;
  width: 560px;
  @media screen and (max-width: 795px) {
    width: 70%;
  }
  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  img:first-child {
    width: 14px;
    margin: 0 8px;
  }

  img {
    width: 18px;
    margin: 0 8px;
  }

  input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}

.buttons {
  .btn {
    border-radius: 3px;
    text-decoration: none;
    background-color: #f9f9f9;
    color: #333333;
    padding: 10px;
    font-size: 0.9rem;
    margin: 0 5px;
    &:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: 795px) {
    display: none;
  }
}

.translate {
  font-size: 0.82rem;
  a {
    text-decoration: none;
    color: #000099;
    margin-left: 3px;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  height: 12.5vh;
  background-color: #f2f2f2;
  font-size: 0.92rem;
  @media screen and (max-width: 795px) {
    height: 18.7vh;
  }
  .copyright {
    display: flex;
    height: 6.2vh;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: #70757a;
    p {
      a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        img {
          height: 12px;
        }
      }
    }
  }

  .line {
    height: 0.1vh;
    background-color: #d9d9d9;
  }

  .settings {
    display: flex;
    height: 6.2vh;
    justify-content: space-between;
    align-items: center;
    color: #70757a;
    padding: 0 30px;
    @media screen and (max-width: 795px) {
      flex-direction: column;
      height: 12.4vh;
    }
    @media screen and (max-width: 540px) {
      display: none;
    }
    .setting1 {
      display: flex;
      gap: 25px;
      @media screen and (max-width: 795px) {
        align-items: center;
        justify-content: center;
        height: 6.2vh;
      }
      a {
        text-decoration: none;
        color: #70757a;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .setting2 {
      display: flex;
      gap: 25px;
      @media screen and (max-width: 795px) {
        align-items: center;
        justify-content: center;
        height: 6.2vh;
      }
      a {
        text-decoration: none;
        color: #70757a;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
